<%- include("template/cabecera", { tituloWeb: "Descuento"}) %>

<h1 class="title mt-5">Buscá tu descuento</h1>
<p class='text-center mt-4'>Accedé a los descuentos en tu ciudad</p>
<hr class="w-50 mx-auto mt-4">
<!-- Input Search -->
<!-- <div class="px-5 mt-5 mx-auto">
  <div class="search">
    <input type="text" class="search-input" placeholder="Buscar..." name="" id="inputBusqueda"/>
  </div>
</div> -->

<!-- <div class="tags-container mt-5 d-flex justify-content-center">
  <span class="p-2 tag-item active">Zárate</span>
  <a href="/ciudad/campana" class="p-2 tag-item">Campana (proximamente)</a>
  <span class="p-2 tag-item">Escobar (proximamente)</span>
</div> -->
<div class="container d-flex justify-content-center align-items-center">
  <a href="/ciudad/zarate" class="card-item zarate mt-5 mx-2"
    >Zarate</a
  >

    <a
      href="/ciudad/campana"
      class="
        card-item
        campana
        mt-5
      "
      >Campana</a
    >
  </div>
</div>
<script src="../js/script.js"></script>
<script>
  let categorias = [
    "animales",
    "arte",
    "bebes",
    "belleza",
    "caza",
    "comida",
    "deporte",
    "electronica",
    "ferreteria",
    "hogar",
    "indumentaria",
    "inmobiliaria",
    "joyas",
    "kiosco",
    "libreria",
    "naturaleza",
    "oficios",
    "postres",
    "profesiones",
    "rodados",
    "salud",
    "seguros",
    "souvenir",
    "supermercado",
    "tatuajes",
    "traslados",
    "videojuegos",
  ];

  const inputTextBusqueda = document.getElementById("inputBusqueda");

  inputTextBusqueda.addEventListener("keyup", buscarCategoria);

  function buscarCategoria(e) {
    e.preventDefault();

    const categoriaABuscar = inputTextBusqueda.value;

    const categoriaFiltradas = categorias.filter((valor) =>
      valor.toUpperCase().includes(categoriaABuscar.toUpperCase())
    );

    pintarCategorias(categoriaFiltradas);
  }

  function pintarCategorias(array) {
    cardsDescuentos.innerHTML = `
  ${array
    .map(
      (valor) =>
        `<a href='/categorias/${valor}' class="card-item box-shadow ${valor}"></a>`
    )
    .join("")}
  `;
  }
</script>
