<%- include("template/cabecera", { tituloWeb: "Descuento"}) %>

<h1 class="title mt-5">Buscar Comercio</h1>

<!-- COMERCIOS -->
<div
  class="container-comercios d-flex justify-content-center mt-5 flex-wrap p-3"
>
  <% arrayClientes.forEach(cliente => { %>
  <!-- <div class="comercio-item box-shadow"></div> -->
  <div>
    <p
      class="
        dto-badge
        m-2
        d-flex
        text-light
        justify-content-center
        align-items-center
        position-absolute
      "
    >
      <%= cliente.dtocirculo %>
    </p>
    <a
      href="/descuento/<%= cliente.slug %>"
      class="card-item-categoria box-shadow"
      style="background: url('<%= cliente.imgURL%>') no-repeat center/cover"
    ></a>
  </div>

  <% }) %>
</div>
