<%- include("template/cabecera", { tituloWeb: "Descuento"}) %>

<h1 class="title mt-5">Buscar Comercio</h1>
<!-- Input Search -->
<div class="px-5 mt-5 w-50 mx-auto">
  <div class="search">
    <input
      type="text"
      class="search-input box-shadow"
      placeholder="Buscar..."
      name=""
    />
  </div>
</div>
<!-- TAGS -->
<div
  class="tags-container mt-5 d-flex justify-content-center flex-wrap"
  id="tags"
>
  <span class="p-2 tag-item active">Todos</span>
  <span class="p-2 tag-item">Peluqueria</span>
  <span class="p-2 tag-item">Peluqueria</span>
  <span class="p-2 tag-item">Peluqueria</span>
</div>
<!-- COMERCIOS -->
<div
  class="container-comercios d-flex justify-content-center mt-5 flex-wrap p-3"
>
  <% arrayClientes.forEach(cliente => { %>
  <!-- <div class="comercio-item box-shadow"></div> -->
  <a
    href="/descuento/<%= cliente.id %>"
    class="card-item-categoria box-shadow"
    style="background: url('<%= cliente.imgURL%>') no-repeat center/cover"
  ></a>

  <% }) %>
</div>
