<%- include("template/cabecera", { tituloWeb: "Nuevo Cliente"}) %>
<div class="container">
  <h1 class="my-3">Crear</h1>
  <hr />
  <a href="/clientes" class="btn btn-dark mb-3"
    ><i class="fas fa-angle-left me-2"></i>Volver</a
  >
  <form action="/clientes" method="POST" class="d-flex flex-column">
    <input
      type="text"
      name="nombre"
      placeholder="Nombre"
      class="form-group my-2"
    />
    <input
      type="text"
      name="rubro"
      placeholder="Rubro"
      class="form-group my-2"
    />
    <input
      type="text"
      name="direccion"
      placeholder="Direccion"
      class="form-group my-2"
    />
    <input
      type="text"
      name="telefono"
      placeholder="Telefono"
      class="form-group my-2"
    />
    <input
      type="text"
      name="descuento"
      placeholder="Descuento"
      class="form-group my-2"
    />
    <input
      type="text"
      name="fb"
      placeholder="Facebook"
      class="form-group my-2"
    />
    <input
      type="text"
      name="ig"
      placeholder="Instagram"
      class="form-group my-2"
    />
    <input type="text" name="web" placeholder="Web" class="form-group my-2" />
    <div class="upload-file d-flex flex-column mb-3">
      <label
        class="custom-file-label"
        for="inputGroupFile02"
        aria-describedby="inputGroupFileAddon02"
        >Cargar Banner Descuento</label
      >
      <input
        type="file"
        name="image"
        class="custom-file-input"
        id="inputGroupFile02"
      />
    </div>
    <button class="btn btn-success" type="submit">Crear</button>
  </form>
</div>
