<%- include("template/cabecera", { tituloWeb: "Nuevo Cliente"}) %>
<div class="container my-3">
  <h1 class="my-3">Crear</h1>
  <hr />
  <a href="/clientes" class="btn btn-dark mb-3"
    ><i class="fas fa-angle-left me-2"></i>Volver</a
  >
  <form action="/clientes" method="POST" class="d-flex flex-column">
    <input
      type="text"
      name="nombre"
      placeholder="Nombre"
      class="form-group my-2"
    />
    <select name="rubro" id="rubroInput" placeholder="Rubro/Categoria">
      <option value="animales">Animales y Mascotas</option>
      <option value="arte">Arte y Diseño</option>
      <option value="automotor">Automotor</option>
      <option value="bebes">Bebes y Niños</option>
      <!--  -->
      <option value="belleza">Belleza</option>
      <option value="caza">Caza y Pesca</option>
      <option value="comidas">Comidas</option>
      <option value="deporte">Deporte</option>
      <!--  -->
      <option value="ferreteria">Ferreteria y Cerrajeria</option>
      <option value="heladeria">Heladeria</option>
      <option value="indumentaria">Indumentaria y Calzado</option>
      <option value="inmobiliaria">Inmobiliaria</option>
      <!--  -->
      <option value="joyas">Joyas y Accesorios</option>
      <option value="kiosco">Kiosco y Golosinas</option>
      <option value="librerias">Librerias</option>
      <option value="naturaleza">Naturaleza</option>
      <!--  -->
      <option value="oficios">Oficios</option>
      <option value="profesiones">Profesiones</option>
      <option value="repuestos">Repuestos y Accesorios</option>
      <option value="rodados">Rodados</option>
      <!--  -->
      <option value="salud">Salud</option>
      <option value="seguros">Seguros</option>
      <option value="souvenir">Souvenir</option>
      <option value="supermercado">Supermercado</option>
      <!--  -->
      <option value="tatuajes">Tatuajes</option>
      <option value="traslados">Traslados</option>
      <option value="videojuegos">Videojuegos</option>
    </select>
    <input
      type="text"
      name="direccion"
      placeholder="Direccion"
      class="form-group my-2"
    />
    <input
      type="text"
      name="telefono"
      placeholder="Telefono"
      class="form-group my-2"
    />
    <input
      type="text"
      name="descuento"
      placeholder="Descuento"
      class="form-group my-2"
    />
    <input
      type="text"
      name="dtocirculo"
      placeholder="Descuento en el Circulo"
      class="form-group my-2"
    />
    <input
      type="text"
      name="fb"
      placeholder="Facebook"
      class="form-group my-2"
    />
    <input
      type="text"
      name="ig"
      placeholder="Instagram"
      class="form-group my-2"
    />
    <input type="text" name="web" placeholder="Web" class="form-group my-2" />
    <input
      type="text"
      name="imgURL"
      placeholder="Link Imagen"
      class="form-group my-2"
    />

    <!-- <div class="upload-file d-flex flex-column mb-3">
      <label
        class="custom-file-label"
        for="inputGroupFile02"
        aria-describedby="inputGroupFileAddon02"
        >Cargar Banner Descuento</label
      >
      <input
        type="file"
        name="image"
        class="custom-file-input"
        id="inputGroupFile02"
      />
    </div> -->
    <button class="btn btn-success" type="submit">Crear</button>
  </form>
</div>
