<%- include("template/cabecera", { tituloWeb: "Descuento"}) %>

<div class="container-fluid">
  <div class="w-25 my-2 d-flex justify-content-center"></div>
  <div class="d-flex justify-content-center align-items-center">
    <div
      class="
        container-publicidad
        d-flex
        justify-content-center
        align-items-center
      "
    >
      <div>
        <a href="/beneficios" class="btn btn-dark"
          ><i class="fas fa-angle-left me-2"></i>Volver</a
        >
        <div
          class="
            publicidad-comercio
            box-shadow
            d-flex
            justify-content-center
            align-items-center
          "
        ></div>
      </div>
      <div class="comercio-info">
        <h2 class="title-comercio mb-3">Estetica Freya</h2>
        <p>Saenz Peña 920 - Zarate</p>
        <ul class="d-flex rrss-comercio">
          <li>
            <a href="#"><i class="fas fa-link"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
          </li>
        </ul>
        <hr />
        <div class="descuentos d-flex flex-column">
          <p class="p-descuentos">
            <img
              src="../img/sale.png"
              alt="etiqueta-descuento"
              class="sale-icon"
            />
            10% Tratamientos faciales
          </p>
        </div>
        <hr />
        <div class="suscribirse">
          <p>Unite al club de descuento y disfruta de estos beneficios</p>
          <button class="btn btn-primary">Suscribite | $150 por mes</button>
        </div>
      </div>
    </div>
  </div>
</div>
