<%- include("template/cabecera", { tituloWeb: "Quienes Somos"}) %>

<div class="header-about d-flex">
  <h2 class="header-about--title">Como Obtengo los Beneficios</h2>
</div>
<div class="container">
  <div class="container-obtener d-flex mx-auto my-5">
    <div class="info-beneficios d-flex">
      <div class="card-obtener-beneficios my-5 d-flex">
        <div
          class="
            obtener-item
            d-flex
            justify-content-center
            align-items-center
            flex-column
            box-shadow
            text-center
          "
        >
          <i class="fas fa-comment-dollar icons-beneficios"></i>
          <p>Suscribite al club haciendo</p>
          <a href="/suscripciones" target="_blank" rel="noopener noreferrer"
            >click acá <i class="fas fa-external-link-alt"></i
          ></a>
        </div>
        <!-- 2 -->
        <div
          class="
            obtener-item
            d-flex
            justify-content-center
            align-items-center
            flex-column
            box-shadow
            text-center
          "
        >
          <i class="fas fa-id-card icons-beneficios"></i>
          <p>Te enviaremos un carnet con tu numero de socio.</p>
        </div>
        <!-- 3 -->
        <div
          class="
            obtener-item
            d-flex
            justify-content-center
            align-items-center
            flex-column
            box-shadow
            text-center
          "
        >
          <i class="fas fa-cash-register icons-beneficios"></i>
          <p>Presenta el carnet en los locales adheridos.</p>
        </div>
        <!-- 3 -->
        <div
          class="
            obtener-item
            d-flex
            justify-content-center
            align-items-center
            flex-column
            box-shadow
            tex-center
            text-center
            me-0
          "
        >
          <i class="far fa-laugh-beam icons-beneficios"></i>
          <p>Disfruta de todos los beneficios facilmente.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../js/script.js"></script>

<%- include("template/footer") %>
