<%- include("template/cabecera", { tituloWeb: "Quienes Somos"}) %>
<div class="header-faq d-flex">
  <h2 class="header-about--title">Preguntas Frecuentes</h2>
</div>
<div class="container">
  <h2 class="title mt-5">Preguntas Frecuentes para suscriptores</h2>
  <p class="text-center my-5">
    Si tu pregunta no está respondida acá, no dudes en ponerte en
    <a href="/#contacto">contacto <i class="fas fa-external-link-alt"></i></a>
    con nosotros.
  </p>

  <div class="accordion my-5" id="accordionExample">
    <!-- Pregunta 1 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          ¿Cómo hago para obtener mi carnet de descuento y ser beneficiado con
          el descuento?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <p>
            Una vez que te suscribas, para realizar la compra con los descuentos
            tenés que presentarte en los locales adheridos con tu credencial de
            asociado.
          </p>
        </div>
      </div>
    </div>
    <!-- Pregunta 2 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          ¿Cómo obtengo mi credencial de suscriptor?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <p>
            Suscribite gratis haciendo
            <a href="/suscripciones"
              >click acá <i class="fas fa-external-link-alt"></i></a
            >, vas a recibir un mail con la credencial con tus datos. La entrega
            es de manera digital.
          </p>
        </div>
      </div>
    </div>
    <!-- Pregunta 3 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          ¿Qué pasa si el comercio se niega a brindarme el descuento?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <p>
            Contános tu situación haciendo
            <a href="https://forms.gle/V99drhG5EDfcwmf1A"
              >haciendo click acá <i class="fas fa-external-link-alt"></i
            ></a>
            y nosotros lo resolverémos en la brevedad.
          </p>
        </div>
      </div>
    </div>
    <!-- Pregunta 4 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          ¿Los descuentos solo funcionan en mi localidad?
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="headingFour"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <p>
            No, vas a poder acceder a los comercios adheridos de todas las
            localidades.
          </p>
        </div>
      </div>
    </div>
    <!-- Pregunta 5 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          ¿Cómo me doy cuenta cuales son los comercios adheridos sin entrar a la
          página?
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        aria-labelledby="headingFive"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <p>
            Cada comercio adherido contará con cartéles distintivos del club
            para poder ser identificados por los suscriptores.
          </p>
        </div>
      </div>
    </div>
    <!-- Pregunta 6 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSix">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="false"
          aria-controls="collapseSix"
        >
          ¿Cómo debo hacer para contactarme con los comercios adheridos de
          manera online?
        </button>
      </h2>
      <div
        id="collapseSix"
        class="accordion-collapse collapse"
        aria-labelledby="headingSix"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <p>
            Ingresá a la página web y clickeá en el comercio elegído, vas a
            poder tener acceso directo a sus redes sociales
          </p>
        </div>
      </div>
    </div>
    <!-- Pregunta 7 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSeven">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSeven"
          aria-expanded="false"
          aria-controls="collapseSeven"
        >
          ¿Puedo suscribirme sin contar con tarjeta de crédito?
        </button>
      </h2>
      <div
        id="collapseSeven"
        class="accordion-collapse collapse"
        aria-labelledby="headingSeven"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <p>
            Si, podés abonar por rapipago/pagofacil haciendo
            <a href="/suscripciones"
              >click acá <i class="fas fa-external-link-alt"></i
            ></a>
          </p>
        </div>
      </div>
      <!-- Pregunta 8 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseSeven"
            aria-expanded="false"
            aria-controls="collapseSeven"
          >
            ¿Los descuentos son acumulables?
          </button>
        </h2>
        <div
          id="collapseSeven"
          class="accordion-collapse collapse"
          aria-labelledby="headingSeven"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>Queda a criterio de cada comercio.</p>
          </div>
        </div>
      </div>
      <!-- Pregunta 9 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseSeven"
            aria-expanded="false"
            aria-controls="collapseSeven"
          >
            ¿Qué debo hacer si pierdo mi credencial?
          </button>
        </h2>
        <div
          id="collapseSeven"
          class="accordion-collapse collapse"
          aria-labelledby="headingSeven"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>
              Contactános por Whatsapp, informá tu situación y volveremos a
              enviartela.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("template/footer") %>
