<%- include("template/cabecera", { tituloWeb: "Descuento"}) %>
<div class="header-faq d-flex">
  <h2 class="header-about--title">Preguntas Frecuentes</h2>
</div>
<div class="container my-5">
  <h2 class="title">Preguntas Frecuentes de nuestro club</h2>
  <p class="text-center my-5">
    Si tu pregunta no está respondida acá, no dudes en ponerte en
    <a href="/#contacto">contacto <i class="fas fa-external-link-alt"></i></a>
    con nosotros.
  </p>
  <div class="card-faq d-flex justify-content-center ">
    <a href="/preguntas-frecuentes-clientes" class="card-suscriptores box-shadow d-flex flex-column">
      <span class="icon-faq"><i class="fas fa-store"></i></span></i>Comercios</a>      
    
      <a href="/preguntas-frecuentes-suscriptores" class="card-suscriptores box-shadow">
        <span class="icon-faq"><i class="fas fa-user"></span></i>Suscriptores</a>      
      <!-- <p class="card-text">Soy suscriptor y quiero aparecer en el Club de Descuentos</p> -->
  </div>
  
</div>

<%- include("template/footer") %>
