<%- include("template/cabecera", { tituloWeb: "Quienes Somos"}) %>
<div class="header-faq d-flex">
  <h2 class="header-about--title">Preguntas Frecuentes</h2>
</div>
<div class="container">
  <h2 class="title mt-5">Preguntas Frecuentes para Comercios</h2>
  <p class="text-center my-5">
    Si tu pregunta no está respondida acá, no dudes en ponerte en
    <a href="/#contacto">contacto <i class="fas fa-external-link-alt"></i></a>
    con nosotros.
  </p>

  <div class="accordion my-5" id="accordionExample">
    <!-- Pregunta 1 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          ¿Para qué sirve?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <p>
            Teniendo en cuenta que en primer lugar se ven obligados hacer las
            mismas ventas en menos tiempo por las restricciones y en segundo
            lugar, todo aumenta muy rápido excepto el sueldo de la gente y como
            ustedes son uno de los más conocidos de la zona, queremos brindarle
            nuestro servicio para mejorar desempeño comercial.
          </p>
        </div>
      </div>
    </div>
    <!-- Pregunta 2 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          ¿De qué se trata?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <p>
            El funcionamiento es <b>muy fácil</b>, ustedes como comercio brindan
            un descuento, el que quieran, el que esté a su alcance; nosotros con
            nuestro equipo de diseño creamos un banner y lo publicamos en
            nuestra página web, para que todas las personas que se suscriban al
            club, puedan recibir un carnet y con él dirigirse hasta el comercio
            y comprar con el dicho descuento.
          </p>
        </div>
      </div>
    </div>
    <!-- Pregunta 3 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          ¿Cuántos comercios por rubro están permitidos?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <p>
            El club de descuentos es un servicio <b>exclusivo</b>. Trabajamos
            con solo un comercio por rubro.
          </p>
        </div>
      </div>
    </div>
    <!-- Pregunta 4 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          ¿Dónde va a ser promocionado?
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="headingFour"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <p>
            El club de descuentos va a ser promocionado en 3 radios locales,
            publicidad en vía pública, en redes sociales y todos los sábados van
            a nombrarse 3 comercios adheridos de manera aleatoria en el programa
            de radio Cordobeseando, que se emite en Radio Cielo (106.9). Para
            que todos tengan difusión.
          </p>
        </div>
      </div>
    </div>
    <!-- Pregunta 5 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          ¿Cuándo y cómo se paga?
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        aria-labelledby="headingFive"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <p>
            El canon mensual se abona una vez publicado el banner con el
            descuento en la página web y podes abonar por Mercado pago o en el
            rapi pago/pago fácil más cercano.
          </p>
        </div>
      </div>
    </div>
    <!-- Pregunta 6 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSix">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="false"
          aria-controls="collapseSix"
        >
          ¿Qué hago si el descuento no funciona?
        </button>
      </h2>
      <div
        id="collapseSix"
        class="accordion-collapse collapse"
        aria-labelledby="headingSix"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <p>
            Te ofrecemos una vidriera digital, es decir, el banner puede ser
            modificado tantas veces como el comercio lo desee.
          </p>
        </div>
      </div>
    </div>
    <!-- Pregunta 7 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSeven">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSeven"
          aria-expanded="false"
          aria-controls="collapseSeven"
        >
          ¿Qué pasa si no estoy conforme con el servicio?
        </button>
      </h2>
      <div
        id="collapseSeven"
        class="accordion-collapse collapse"
        aria-labelledby="headingSeven"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <p>
            Tenés la opción de cancelar el servicio en el momento que quieras,
            es decir, no contamos con contrato de permanencia. Vamos a hacer
            todo lo posible para atraer más clientes.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("template/footer") %>