<%- include("template/cabecera", { tituloWeb: "Quienes Somos"}) %>

<div class="header-about d-flex">
  <h2 class="header-about--title">Equipo Cordobeseando</h2>
</div>
<div class="container">
  <div class="container-team d-flex mx-auto">
    <div class="team-info p-4">
      <div class="card-info">
        <h3 class="about-subtitle mt-4 mb-4">¿Que quiénes somos?</h3>
        <hr class="divider-about" />
        <p>
          La pucha! Tantos años trabajando para esto y ahora no se por donde
          arrancar 😊
        </p>
        <p>
          Somos un grupo de locos tratando de cumplir un sueño. Ayudar a los
          demás haciendo lo que nos gusta y encontrar la libertad abrazando lo
          que somos cada uno.
        </p>

        <div class="card-info">
          <h3 class="about-subtitle mt-4 mb-4">
            ¿Quién dijo que no se puede vivir de un Hobbie?
          </h3>
          <p>
            En nuestras mentes no hay límites, estamos convencidos de que vamos
            a lograr todo lo que nos propongamos, como equipo no nos da miedo ni
            vergüenza decir en voz alta nuestros sueños y defenderlo a capa y
            espada si es necesario.
          </p>
        </div>
        <div class="card-info">
          <h3 class="about-subtitle mt-4 mb-4">¿Cómo lo vamos a lograr?</h3>
          <p>
            Ni idea jajaja no nos preocupa el cómo, la verdad. Vamos a trabajar
            y aprenderemos en el camino, así de simple…El fracaso es un señor
            sabio que nos va a mostrar el camino a su modo. Con enojos, Broncas,
            golpes, subidas y bajadas, a través de muchas tristezas y alegrías,
            quizás hasta nos robe alguna lagrima pero lo vamos a abrazar con
            fuerza y vamos a aprender todo lo que tenga para enseñarnos. Sabemos
            que es un maestro duro pero no nos vamos a rendir.
          </p>
        </div>
        <div class="card-info">
          <h3 class="about-subtitle mt-4 mb-4">¿Cuál es nuestro propósito?</h3>
          <p>
            Queremos cambiar todo o casi todo!!! Jaja Desde la manera en que nos
            tratamos entre nosotros hasta como se trata a los clientes. Nos
            comprometemos con los resultados pensando permanentemente en lo que
            el otro necesita y siendo muy conscientes de lo que nosotros podemos
            dar.
          </p>
        </div>
        <div class="card-info">
          <h3 class="about-subtitle mt-4 mb-4">¿Cuál es mi sueño?</h3>
          <p>
            Siempre he tenido la idea de que me iba a ir pronto de esta vida y
            ese sentimiento lejos de darme miedo al contrario, me potenció,
            realmente quiero irme con la tranquilidad de saber que he dejado
            algo importante en este mundo, una huella.
          </p>
          <p>
            Cuando elegí a los integrantes de este equipo no me fije en sus
            títulos ni si era amigo, conocido o pariente de mis allegados, nada
            de eso me importó. Me enfoqué en sus pasiones, valores y principios,
            soñé con gente que tuviera grandes sueños y mentalidad ganadora pero
            que no le tuviera miedo al fracaso y que estuviera dispuesta a
            trabajar y aprender en pos de sus objetivos, que defienda sus
            ideales que respete la opinión ajena y pueda crecer y hacer crecer a
            los demás.
          </p>
          <p>
            Y mientras escribo esto me emociono porque sé que los encontré.
            Estoy cada día más feliz y tranquilo de estos pilares en los que me
            apoyo todos los días, sobre todo porque estoy convencido de que
            cuando me toque partir, alguien seguirá el camino que proyecté.
          </p>
          <p>
            Este es el principio de algo muy grande que, si lo cuidamos entre
            todos, nunca dejara de fluir y ayudar a todo aquel que lo necesite.
          </p>
        </div>
      </div>
      <!--  <div class="team-img">
      <img
        src="https://i.pinimg.com/originals/47/e4/b4/47e4b49a6aa8f77bd9103e0307859934.jpg"
        alt="team"
        class="team-img1 box-shadow"
      />
    </div> -->
    </div>
  </div>
</div>
<script src="../js/script.js"></script>
