<%- include("template/cabecera", { tituloWeb: "Suscripcion"}) %>

<div class="header-suscripciones d-flex">
    <h2 class="header-suscripciones--title">Suscripciones</h2>
</div>
<div class="container my-5">
    <div class="container-subs d-flex">
        <h1 class="title ">¿Cómo me suscribo?</h1>
        <p class="mx-auto">Podés suscribirte abonando en efectivo o automaticamente con tarjeta</p>
        <div class="btn-container d-flex justify-content-center mt-4">
            <a href="https://mpago.la/2M4RTiL" class="btn btn-primary link-pago" target="_blank" rel="noopener noreferrer">Suscribirme en efectivo</a>
            <a href="https://checkout.rebill.to/clubdescuentos/plan/2377" class="btn btn-primary link-pago" target="_blank" rel="noopener noreferrer">Suscribirme con tarjeta</a>
            
        </div>
        <p class="mt-5 text-center">Si tenés dudas ingresá a nuestras <a href="/preguntas-frecuentes">Preguntas Frecuentes <i class="fas fa-external-link-alt"></i></a> </p>
    </div>
</div>
<%- include("template/footer") %>