/* ==================================================== */
/* ====================== RUBROS ====================== */
/* ==================================================== */

.estetica {
  background: url('../img/descuentos/estetica-desc.jpg') no-repeat center/cover;
}
.bebes {
  background: url('../img/rubros/bebes.jpg') no-repeat center/cover;
}
.heladeria {
  background: url('../img/rubros/heladeria.jpg') no-repeat center/cover;
}
.automotor {
  background: url('../img/rubros/automotor.jpg') no-repeat center/cover;
}
.belleza {
  background: url('../img/rubros/belleza.jpg') no-repeat center/cover;
}
.traslados {
  background: url('../img/rubros/traslados.jpg') no-repeat center/cover;
}

/* ==================================================== */
/* ====================== RUBROS ====================== */
/* ==================================================== */
