@import 'styles.css';

.container-publicidad {
  gap: 50px;
  padding: 20px;
  height: 90vh;
}

.publicidad-comercio {
  width: 400px;
  height: 400px;
  background: url('/img/descuentos/banner-suplementos.jpg') no-repeat
    center/cover;
  border-radius: 15px;
  color: var(--light);
}

.dto-badge {
  background: black;
  border-radius: 50px;
  height: 60px;
  width: 60px;
}

.dto-badge p {
  font-size: 50px;
}

.container-publi-info {
  gap: 50px;
}

.title-comercio {
  font-weight: 600;
}

.rrss-comercio {
  list-style: none;
  padding: 0;
}

.rrss-comercio li {
  padding: 0 20px 0 0;
  font-size: 20px;
}

.descuento-info {
  padding: 0;
}

.p-descuentos {
  text-align: left;
  margin-bottom: 0;
}

.descuentos p {
  font-weight: bold;
  background: red;
}

.sale-icon {
  max-width: 100%;
  width: 25px;
}

/* queries */
@media screen and (max-width: 767px) {
  .container-publicidad {
    flex-direction: column;
    text-align: center;
    margin: 50px;
  }

  .publicidad-comercio {
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }

  .rrss-comercio li {
    margin: 0 auto;
    padding: 0;
  }

  .descuentos {
    margin: auto;
  }

  hr {
    width: 50vw;
    margin: 15px auto;
  }

  .p-descuentos {
    margin: 10px 0;
    text-align: center;
  }
}
