/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

/* Variables */
:root {
  /* Colors */
  --backgroundColor: #fff;
  --actionColor: #005aff;
  --primaryColor: #ffa500;
  --light: #fff;
  --dark: #474747;
  /* Font */
  --fontFamily: 'Poppins', sans-serif;
}

.container-fluid {
  padding: 0;
}

.box-shadow {
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--backgroundColor);
  font-family: var(--fontFamily);
}

/* Size Cordobeseando logo / Header */
.logo {
  width: 200px;
  padding: 10px;
}

/* Nav Styling */
.nav-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 15px;
  background-color: var(--primaryColor);
}

.nav-ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-ul li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--light);
  transition: all 0.3s ease;
}

.nav-ul li a:hover {
  opacity: 0.5;
}

.nav-ul li ul {
  display: none;
}

.nav-ul li:hover ul {
  display: block;
}

/* Menu Responsive Styles */
.hamburger {
  background-color: transparent;
  color: var(--light);
  font-size: 20px;
  cursor: pointer;
  border: none;
  display: none;
}

.hamburger:focus {
  outline: none;
}

/* Slider */
.img_mobile {
  display: none;
}

.img_full {
  display: block;
}

.carousel-control-prev,
.carousel-control-next {
  height: 80px;
  width: 50px;
  margin: auto;
}

.carousel-control-prev:hover {
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: var(--light);
  border-radius: 0 4px 4px 0;
}

.carousel-control-next:hover {
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: var(--light);
  border-radius: 4px 0 0 4px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  opacity: 0.4;
  filter: invert(90);
}

/* Section Descuentos */
.descuentos {
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}

.cards-descuentos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
  padding: 20px;
}

.container::-webkit-scrollbar {
  display: none;
}

.card-item {
  height: 250px;
  width: 250px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.card-item-categoria {
  height: 250px;
  width: 250px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.card-item:hover,
.card-comercio-item:hover,
.card-item-categoria:hover {
  transform: scale(1.05);
}

/* Input Descuento CTA */
.form-input {
  height: 40px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 15px;
  margin-top: 20px;
}

/* Section Comercios */
.comercios {
  background-color: var(--primaryColor);
  padding: 50px;
  color: var(--light);
}

/* CARDS COMERCIO */
.cards-comercios {
  gap: 20px;
  justify-content: center;
}

/* COMERCIOS DESTACADOS */
/* Comercio 1 */
.item-1 {
  width: 180px;
  height: 180px;
  border-radius: 15px;
  background: url('https://res.cloudinary.com/cordobeseando/image/upload/v1627419593/Automotores-Larrea-banner_fynftm.gif')
    no-repeat center/cover;
  transition: all 0.4s ease;
}
/* Comercio 2 */
.item-2 {
  width: 180px;
  height: 180px;
  border-radius: 15px;
  background: url('https://res.cloudinary.com/cordobeseando/image/upload/v1627481994/el-mundo-baterias_puhmal.gif')
    no-repeat center/cover;
  transition: all 0.4s ease;
}
/* Comercio 3 */
.item-3 {
  width: 180px;
  height: 180px;
  border-radius: 15px;
  background: url('https://res.cloudinary.com/cordobeseando/image/upload/v1627571835/gomeria-la-cueva_wejsbi.jpg')
    no-repeat center/cover;
  transition: all 0.4s ease;
}
/* Comercio 4 */
.item-4 {
  width: 180px;
  height: 180px;
  border-radius: 15px;
  background: url('https://res.cloudinary.com/cordobeseando/image/upload/v1628165010/fletes-san-jorge_je6nza.gif')
    no-repeat center/cover;
  transition: all 0.4s ease;
}
/* Comercio 5 */
.item-5 {
  width: 180px;
  height: 180px;
  border-radius: 15px;
  background: url('https://res.cloudinary.com/cordobeseando/image/upload/v1627914982/zarate-pintores_uteiwd.jpg')
    no-repeat center/cover;
  transition: all 0.4s ease;
}
/* Comercio 6 */
.item-6 {
  width: 180px;
  height: 180px;
  border-radius: 15px;
  background: url('https://res.cloudinary.com/cordobeseando/image/upload/v1628026564/veterinaria-zarate_nin89l.jpg')
    no-repeat center/cover;
  transition: all 0.4s ease;
}

@media screen and (max-width: 767px) {
  .comercios {
    max-width: 700px;
  }
  .cards-comercios {
    flex-wrap: wrap;
  }

  .card-comercio-item {
    width: 150px;
    height: 150px;
  }
}

/* Quienes somos */
.quienes-img {
  width: 350px;
  height: 350px;
  border-radius: 15px;
  background: url('https://images.unsplash.com/photo-1593697821094-53ed19153f21?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80')
    no-repeat center/cover;
}

.quienes-title {
  text-align: left;
}

.quienes-p {
  width: 75%;
}

/* Escuchanos */
.escuchanos {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://images.unsplash.com/photo-1487180144351-b8472da7d491?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80')
      no-repeat center/cover;
  padding: 40px;
  color: var(--light);
  gap: 120px;
}

.card-radio {
  width: 200px;
  height: 200px;
  background: #c4c4c4;
  border-radius: 15px;
  color: var(--actionColor);
}

.card-radio i {
  font-size: 2rem;
}

.google-play {
  max-width: 100%;
  width: 150px;
}

/* SECTION CONTACT */
.contact-item {
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  color: var(--actionColor);
  transition: all 0.5s ease;
}

.contact-item:hover {
  background-color: var(--light);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

.contact-item i {
  font-size: 2rem;
}

.form {
  gap: 50px;
}

textarea {
  resize: none;
  height: 100%;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 15px;
  margin-top: 20px;
}

.btn-enviar {
  width: 25%;
}

/* Footer */
.rrss li {
  padding-right: 20px;
  font-size: 20px;
  list-style: none;
}

.footer {
  padding: 50px 0 0 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.hecho {
  margin: 0;
  background-color: #282d32;
  color: #fff;
  padding: 25px 0;
  font-size: 0.8rem;
}

.hecho p {
  opacity: 0.7;
}

.footer h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer ul a:hover {
  opacity: 0.8;
}

.footer p {
  width: 75%;
}

/* ============================================= */
/* =============== QUIENES SOMOS =============== */
/* ============================================= */
.header-about {
  height: 300px;
  background: url('https://images.unsplash.com/photo-1531156992292-d36397ee9184?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80')
    no-repeat center/cover;
  justify-content: center;
  align-items: center;
}

.header-about--title {
  color: var(--light);
  font-weight: 700;
}

.about-subtitle {
  font-size: 2rem;
  font-weight: 700;
}

.container-team {
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.img-about {
  background: url('https://www.yaconic.com/wp-content/uploads/2016/08/simpsonENTRADAF-1024x452.jpg')
    no-repeat center/cover;
  height: 100px;
  width: 100px;
}
.divider-about {
  border: 5px solid var(--primaryColor);
  background-color: var(--primaryColor);
  width: 15%;
}

.team-info {
  width: 70%;
}

/* ============================================= */
/* ==================== FAQ ==================== */
/* ============================================= */
.header-faq {
  background: url('https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80')
    no-repeat center/cover;
  height: 345px;
  justify-content: center;
  align-items: center;
}
.card-faq {
  gap: 20px;
  flex-wrap: wrap;
}
.card-comercios,
.card-suscriptores {
  width: 200px;
  background: var(--actionColor);
  color: var(--light);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.2s ease;
  text-decoration: none;
  font-size: 20px;
}

.icon-faq {
  display: block;
}

.card-comercios:hover,
.card-suscriptores:hover {
  transform: scale(1.05);
  color: #fff;
}

.card-text {
  max-width: 250px;
}

/* ============================================= */
/* ==================== MODAL=================== */
/* ============================================= */
.open {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  padding: 5px 10px;
  border-radius: 50px;

  background: var(--actionColor);
  color: var(--light);
  z-index: 10;
}

.open:active {
  outline: none;
}

.open:focus {
  border: none;
}

.modal_container {
  position: fixed;
  bottom: 95px;
  right: 30px;
  width: 350px;
  max-width: 100%;
  padding: 20px;
  background: var(--light);
  border-radius: 10px;
  color: var(--dark);
  z-index: 5;
  opacity: 0;
  transition: all 0.1s ease-in;
  pointer-events: none;
}

.modal_container.show {
  opacity: 1;
  pointer-events: auto;
}

.modal_container h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}

.modal_container p {
  opacity: 0.8;
}

.faq-link {
  color: var(--dark);
  opacity: 0.7;
  font-size: 0.85rem;
  text-decoration: none;
}

/* ============================================= */
/* ==================== SUBS =================== */
/* ============================================= */

.header-suscripciones {
  height: 300px;
  background: url('https://res.cloudinary.com/cordobeseando/image/upload/v1628598200/1ilyuza-mingazova-HaTIYO87qWQ-unsplash_x41rmm.jpg')
    no-repeat center/cover;
  justify-content: center;
  align-items: center;
}

.header-suscripciones--title {
  color: var(--light);
  font-weight: 700;
}

.container-subs {
  flex-direction: column;
  justify-content: center;
}

.btn-container .link-pago {
  margin: 0 10px;
}

/* ============================================= */
/* ================= INFO CARDS ================ */
/* ============================================= */

.info-container {
  background: var(--light);
  border-radius: 10px;
  width: 65%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.info-container a {
  text-decoration: none;
}

.card-about,
.card-how,
.card-exp {
  max-width: 250px;
  border-radius: 10px;
  padding: 20px;
}

.card-about:hover,
.card-how:hover,
.card-exp:hover {
  background: #0059ff0c;
}

.card-about h2,
.card-how h2,
.card-exp h2 {
  margin-bottom: 20px;
}

.card-about-p {
  max-width: 180px;
}


.btn-volver {
  width: 10%;
}
/* ============================================= */
/* ================ MEDIA QUERIES ============== */
/* ============================================= */

/*1024PX */
@media screen and (max-width: 1024px) {
  /* Card Descuentos Destacados */
  .card-item {
    width: 180px;
    height: 180px;
    margin: 5px;
  }

  /* Card Comercios */
  .card-comercio-item {
    width: 125px;
    height: 125px;
    margin: 5px;
  }
}
/* 1000PX Fix Nav */
@media screen and (max-width: 1000px) {
  /* Navbar */
  .nav-ul {
    display: none;
    width: 90%;
  }
  .nav-ul.show {
    display: flex;
    flex-direction: column;
  }

  .hamburger {
    display: block;
    position: relative;
    top: -20px;
  }
  .logo {
    width: 200px;
  }
}

/* 767PX */
@media screen and (max-width: 767px) {
  .img_full {
    display: none;
  }

  .img_mobile {
    display: block;
  }

  .tags-container {
    flex-wrap: wrap;
  }
  .btn-volver {
    display: block;
    margin: 20px auto;
    width: 90%;
  }
  /* Card Descuentos Destacados */
  .card-item {
    width: 150px;
    height: 150px;
  }
  /* Navbar */
  .nav-ul {
    display: none;
    width: 90%;
  }
  .nav-ul.show {
    display: flex;
    flex-direction: column;
  }

  .hamburger {
    display: block;
    position: relative;
    top: -20px;
  }
  .logo {
    width: 150px;
  }

  /* Slider */
  .carousel-inner {
    height: inherit;
  }

  /* Quienes Somos */

  .quienes-somos {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    max-width: inherit;
    text-align: center;
  }

  .quienes-img {
    width: 250px;
    height: 250px;
  }
  .quienes-title {
    text-align: center;
  }
  .quienes-texto {
    margin-top: 40px;
  }
  .quienes-p {
    width: 300px;
  }

  /* Quienes Somos PAGINA */

  .team-info {
    width: 100%;
  }

  .divider-about {
    width: 15%;
    margin: 0 0 20px 0;
  }

  /* Escuchanos */
  .card-radio {
    margin-top: 20px;
  }

  .escuchanos-info {
    text-align: center;
  }

  /* Contacto */
  .contact-info {
    flex-wrap: wrap;
  }

  .form {
    flex-direction: column;
  }

  /* Footer */
  .footer {
    text-align: center;
  }
  .footer-p {
    margin: 0 auto;
    width: 90%;
  }

  .item-footer {
    display: none;
  }

  .rrss {
    width: 100%;
    justify-content: center;
    margin-top: 30px;
  }

  .rrss i {
    padding: 20px;
    font-size: 50px;
  }

  .card-item-categoria {
    margin: 5px;
  }

 
}

/* 393 pixels  */
/* @media screen and (max-width: 393px) {
  .card-item {}
} */


/* 381 Fix Form */
@media screen and (max-width: 381px) {
  input {
    max-width: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 380px) {
  /* Card Descuentos Destacados */
  .card-item {
    width: 140px;
    height: 140px;
  }
  .form-input {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
  }

  .btn-dto {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
  }

  .btn {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Comercios */
  .card-comercio-item {
    width: 125px;
    height: 125px;
  }

  .title {
    width: 100%;
  }
}

@media screen and (max-width: 379px) {
  /* Card Descuentos Destacados */
  .card-item {
    width: 110px;
    height: 110px;
  }
}
/* 320 WIDTH */
@media screen and (max-width: 320px) {
  /* Card Descuentos Destacados */
  .card-item {
    width: 110px;
    height: 110px;
  }
  /* Card Comercios */
  .card-comercio-item {
    width: 100px;
    height: 100px;
  }

  /* btn Enviar */
  .btn-enviar {
    width: 265px;
  }
}
