@import 'styles.css';

.container-publicidad {
  gap: 50px;
  padding: 20px;
  height: 90vh;
}

.publicidad-comercio {
  width: 400px;
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
  color: var(--light);
}

.dto-badge {
  background: black;
  border-radius: 50px;
  height: 60px;
  width: 60px;
  z-index: 3;
}

.dto-badge p {
  font-size: 50px;
}

.container-publi-info {
  gap: 50px;
}

.title-comercio {
  font-weight: 600;
  max-width: 500px;
}

.rrss-comercio {
  list-style: none;
  padding: 0;
}

.rrss-comercio li {
  padding: 0 20px 0 0;
  font-size: 20px;
}

.descuento-info {
  padding: 0;
}

.p-descuentos {
  text-align: left;
  margin-bottom: 0;
  max-width: 500px;
}

.descuentos p {
  font-weight: bold;
}

.sale-icon {
  max-width: 100%;
  width: 25px;
}

.i-direccion,
.i-telefono {
  color: var(--dark);
}

/* queries */
@media screen and (max-width: 767px) {
  .container-publicidad,
  .container_general_dto,
  .container-btn-flex {
    max-width: 370px;
  }
  .container-publi-info {
    flex-direction: column;
    text-align: center;
    margin: 50px;
  }

  .publicidad-comercio {
    width: 250px;
    height: 250px;
    margin: 0 auto 25px auto;
  }

  .rrss-comercio li {
    margin: 0 auto;
    padding: 0;
  }

  .descuentos {
    margin: auto;
  }

  hr {
    width: 70vw;
    margin: 15px auto;
  }

  .p-descuentos {
    margin: 10px 0;
    text-align: center;
    width: 300px;
  }

  .btn-volver {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 370px) {
}
