/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  /* Colors */
  --backgroundColor: #ebebeb;
  --actionColor: #005aff;
  --primaryColor: #ffa500;
  --light: #fff;
  --dark: #474747;
  --fontFamily: 'Poppins', sans-serif;
}

.container-fluid {
  padding: 0;
}

.box-shadow {
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--backgroundColor);
  font-family: var(--fontFamily);
}

/* Size Cordobeseando logo / Header */
.logo {
  width: 280px;
}

/* Nav Styling */
.nav-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 15px;
  background-color: var(--primaryColor);
}

.nav-ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-ul li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--light);
  transition: all 0.3s ease;
}

.nav-ul li a:hover {
  opacity: 0.5;
}

.nav-ul li ul {
  display: none;
}

.nav-ul li:hover ul {
  display: block;
}

/* Menu Responsive Styles */
.hamburger {
  background-color: transparent;
  color: var(--light);
  font-size: 20px;
  cursor: pointer;
  border: none;
  display: none;
}

.hamburger:focus {
  outline: none;
}

/* Slider */
/* .carousel-inner {
  height: 345px;
} */
/* Section Descuentos */
.descuentos {
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}

.cards-descuentos {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  gap: 20px;
  margin-top: 50px;
  padding: 20px;
}

.container::-webkit-scrollbar {
  display: none;
}

.card-item {
  height: 250px;
  width: 250px;
  background: url('/img/descuentos/estetica-desc.jpg') no-repeat center/cover;
  /* background: url('https://images.unsplash.com/photo-1609525313344-a56b96f20718?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80')
    no-repeat center/cover; */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.card-item:hover,
.card-comercio-item:hover {
  transform: scale(1.05);
}

/* Input Descuento CTA */

.form-input {
  height: 40px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 15px;
  margin-top: 20px;
}

/* Section Comercios */
.comercios {
  background-color: var(--primaryColor);
  padding: 50px;
  color: var(--light);
}

/* CARDS COMERCIO */
.cards-comercios {
  gap: 20px;
}

.card-comercio-item {
  width: 170px;
  height: 170px;
  border-radius: 15px;
  background-color: #c4c4c4;
  transition: all 0.4s ease;
}

/* Quienes somos */
.quienes-img {
  width: 350px;
  height: 350px;
  border-radius: 15px;
  background: url('https://images.unsplash.com/photo-1593697821094-53ed19153f21?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80')
    no-repeat center/cover;
}

.quienes-p {
  width: 75%;
}

/* Escuchanos */
.escuchanos {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://images.unsplash.com/photo-1487180144351-b8472da7d491?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80')
      no-repeat center/cover;
  padding: 40px;
  color: var(--light);
  gap: 120px;
}

.card-radio {
  width: 200px;
  height: 200px;
  background: #c4c4c4;
  border-radius: 15px;
  color: var(--actionColor);
}

.card-radio i {
  font-size: 2rem;
}

.google-play {
  max-width: 100%;
  width: 150px;
}

/* SECTION CONTACT */
.contact-item {
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  color: var(--actionColor);
  transition: all 0.5s ease;
}

.contact-item:hover {
  background-color: var(--light);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

.contact-item i {
  font-size: 2rem;
}

.form {
  gap: 50px;
}

textarea {
  resize: none;
  height: 100%;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 15px;
  margin-top: 20px;
}

/* Footer */
.rrss li {
  padding-right: 20px;
  font-size: 20px;
  list-style: none;
}

.footer {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer ul a:hover {
  opacity: 0.8;
}

.footer p {
  width: 75%;
}

/* Media Queries */
@media screen and (max-width: 767px) {
  /* Navbar */
  .nav-ul {
    display: none;
    width: 100%;
  }
  .nav-ul.show {
    display: flex;
    flex-direction: column;
  }
  .hamburger {
    display: block;
    position: relative;
    top: -20px;
  }
  .logo {
    width: 200px;
  }
  .nav-ul li a {
    padding: 10px;
  }

  /* Slider */
  .carousel-inner {
    height: inherit;
  }

  /* Descuentos */
  .cards-descuentos {
    overflow: auto;
  }
  .cards-descuentos a {
    height: 150px;
    width: 150px;
  }

  /* * {
    border: 1px solid black;
  } */
  /* Quienes Somos */

  .quienes-somos {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    max-width: inherit;
    text-align: center;
  }

  .quienes-img {
    width: 250px;
    height: 250px;
  }

  .quienes-texto {
    margin-top: 40px;
  }
  .quienes-p {
    width: 200px;
  }

  /* Escuchanos */
  .card-radio {
    margin-top: 20px;
  }

  .escuchanos-info {
    text-align: center;
  }

  /* Contacto */
  .contact-info {
    flex-wrap: wrap;
  }

  .form {
    flex-direction: column;
  }

  /* Footer */
  .footer {
    text-align: center;
  }
  .footer-p {
    margin: 0 auto;
    width: 90%;
  }

  .item-footer {
    display: none;
  }

  .rrss {
    width: 100%;
    justify-content: center;
    margin-top: 30px;
  }

  .rrss i {
    padding: 20px;
    font-size: 50px;
  }
}
