<!-- Section Comercios -->
<section class="comercios text-center">
  <h2 class="title">Categorias Destacadas</h2>
  <p>Unite a los mas de 50 locales que publicitan con nosotros</p>
  <a href="/comercios" class="">Ver todos los locales adheridos</a>
  <div class="cards-comercios d-flex  my-4">
    <!-- Comercio 1 -->
    <a href="/descuento/6101c047b4a29a00157c08ed"
      class="
        card-comercio-item item-1 
        box-shadow
      "
    ></a>
    <!-- Comercio 2 -->
    <a href="/descuento/6101c441722a1700152a666a"
      class="
        card-comercio-item item-2 
        box-shadow
      "
    ></a>
    <!-- Comercio 3 -->
    <a href="/descuento/6102c70a5059880015293a5c"
      class="
        card-comercio-item item-3 
        box-shadow
      "
    ></a>
    <!-- Comercio 4 -->
    <a href="/descuento/610aaf50b2846f0015cadfb8"
      class="
        card-comercio-item item-4 
        box-shadow
      "
    ></a>
    <!-- Comercio 5 -->
    <a href="/descuento/610ab5b8b2846f0015cadfe1"
      class="
        card-comercio-item item-5 
        box-shadow
      "
    ></a>
    <!-- Comercio 6 -->
    <a href="/descuento/610b09bd6f28aa0015baf267"
      class="
        card-comercio-item item-6 
        box-shadow
      "
    ></a>
    
  </div>

  <p class="mt-3">
    ¡Asociate al club y ofrecé tus descuentos en Cordobeseando!
  </p>
  <a href="https://checkout.rebill.to/clubdescuentos/plan/2377" target="_blank" class="btn btn-primary mt-1k">Asociarme</a>
</section>
