<!-- Section Comercios -->
<section class="comercios text-center">
  <h2 class="title">Clientes Populares</h2>

  <a href="/comercios" class="">Ver todos los locales adheridos</a>
  <div class="cards-comercios d-flex my-4">
    <!-- Comercio 1 Automotres Larrea -->
    <a
      href="/descuento/automotores-larrea"
      class="card-comercio-item item-1 box-shadow"
    ></a>
    <!-- Comercio 2 El Mundo Baterias-->
    <a
      href="/descuento/el-mundo-baterias"
      class="card-comercio-item item-2 box-shadow"
    ></a>
    <!-- Comercio 3 Asorey-->
    <a
      href="/descuento/asorey-deportes"
      class="card-comercio-item item-3 box-shadow"
    ></a>
    <!-- Comercio 4 Promo Fiesta-->
    <a
      href="/descuento/promo-fiesta"
      class="card-comercio-item item-4 box-shadow"
    ></a>
    <!-- Comercio 5 Nakama-->
    <a
      href="/descuento/nakama-sushi"
      class="card-comercio-item item-5 box-shadow"
    ></a>
    <!-- Comercio 6 Viñas -->
    <a
      href="/descuento/nestor-rigoni"
      class="card-comercio-item item-6 box-shadow"
    ></a>
  </div>

  <a href="/suscripciones" class="btn btn-primary mt-4">Pedi tu carnet</a>
</section>
