<!-- Contacto -->
<section class="contacto mb-5" id="contacto">
    <h2 class="title mt-5">¡Contactános!</h2>
    <p class="text-center">
      Comunicate con nosotros para ofrecer tus descuentos
    </p>
    <div
      class="
        contact-info
        d-flex
        justify-content-center
        align-items-center
        text-center
      "
    >
      <div class="contact-item">
        <i class="fas fa-map-marker-alt mb-3"></i>
        <p>Av. Calle Falsa 123</p>
      </div>
      <div class="contact-item">
        <i class="fas fa-envelope mb-3"></i>
        <p>hola@cordobeseando.com</p>
      </div>

      <div class="contact-item">
        <i class="fas fa-phone-alt mb-3"></i>
        <p>3487 555555</p>
      </div>
    </div>
    <!-- Form -->
    <form action="https://send.pageclip.co/z1dphxC2IqzqWWOGvPAlSFeCyoAWBmKI/contact-form" class="pageclip-form contact-form d-flex flex-column p-4" method="post">
      <div class="form d-flex justify-content-center">
        <div class="contact-info d-flex flex-column">
          <label for="name">Nombre: </label>
          <input type="text" name="name" class="mb-3 form-input" />
          <label for="email ">Email: </label>
          <input type="email" name="email" class="mb-3 form-input" />
          <label for="phone">Telefono: </label>
          <input type="text" name="phone" class="form-input" />
        </div>
        <div class="contact-msg d-flex flex-column">
          <label for="msg">Mensaje: </label>
          <textarea name="msg" id=""></textarea>
        </div>
      </div>
      <button type="submit" class="pageclip-form__submit btn btn-primary  mx-auto mt-4 btn-enviar" >
        Enviar
      </button>
    </form>
  </section>
</main>