<!-- Section Descuentos -->
<section class="descuentos">
  <h2 class="title mt-5">Descuentos destacados</h2>
  <a href="/beneficios">Ver todos los descuentos</a>

  <div class="cards-descuentos">
    <a href="/categorias/arte" class="card-item box-shadow arte">
      <!-- <i class="fas fa-percent"></i> -->
    </a>
    <a href="/categorias/heladeria" class="card-item box-shadow heladeria">
      <!-- <i class="fas fa-percent"></i> -->
    </a>
    <a href="/categorias/belleza" class="card-item box-shadow belleza">
      <!-- <i class="fas fa-percent"></i> -->
    </a>
    <a href="/categorias/rodados" class="card-item box-shadow rodados">
      <!--<i class="fas fa-percent"></i> -->
    </a>
  </div>
  <div class="mail-container my-4">
    <h3 class="title mt-5">¡Recibi todos los descuentos en tu email!</h3>
    <input type="text" placeholder="email" class="form-input" />
    <button class="btn btn-primary btn-dto">Enviar</button>
  </div>
</section>
<!-- Mailchimp -->
<script id="mcjs">
  !(function (c, h, i, m, p) {
    (m = c.createElement(h)),
      (p = c.getElementsByTagName(h)[0]),
      (m.async = 1),
      (m.src = i),
      p.parentNode.insertBefore(m, p);
  })(
    document,
    'script',
    'https://chimpstatic.com/mcjs-connected/js/users/f614402a6cfa93db5f4d32999/2142951b34e1b7c26d7f0cbbd.js'
  );
</script>
