<!-- Section Descuentos -->
<section class="descuentos">
  <h2 class="title mt-5">Descuentos destacados</h2>
  <a href="/beneficios">Ver todos los descuentos</a>

  <div class="cards-descuentos">
    <a href="/descuento" class="card-item box-shadow">
      <!-- <i class="fas fa-percent"></i> -->
    </a>
    <a href="/descuento" class="card-item box-shadow heladeria">
      <!-- <i class="fas fa-percent"></i> -->
    </a>
    <a href="/descuento" class="card-item box-shadow belleza">
      <!-- <i class="fas fa-percent"></i> -->
    </a>
    <a href="/descuento" class="card-item box-shadow automotor">
      <!--<i class="fas fa-percent"></i> -->
    </a>
  </div>

  <h3 class="title mt-5">¡Recibi todos los descuentos en tu email!</h3>
  <input type="text" placeholder="email" class="form-input mb-5" />
  <button class="btn btn-primary">Enviar</button>
</section>
