<!-- Section Descuentos -->
<section class="descuentos mb-5">
  <h2 class="title mt-5">Descuentos destacados</h2>
  <a href="/beneficios">Ver todos los descuentos</a>

  <div class="cards-descuentos">
    <a href="/categorias/rodados" class="card-item box-shadow rodados">
      <!-- <i class="fas fa-percent"></i> -->
    </a>
    <a
      href="/categorias/supermercado"
      class="card-item box-shadow supermercado"
    >
      <!-- <i class="fas fa-percent"></i> -->
    </a>
    <a href="/categorias/comida" class="card-item box-shadow comida">
      <!-- <i class="fas fa-percent"></i> -->
    </a>
    <a href="/categorias/hogar" class="card-item box-shadow hogar">
      <!--<i class="fas fa-percent"></i> -->
    </a>
  </div>
</section>
