<!-- Section Escuchanos -->
<section
  class="escuchanos d-flex justify-content-center align-items-center flex-wrap"
  id="escuchanos"
>
  <div
    class="
      card-radio
      d-flex
      justify-content-center
      align-items-center
      box-shadow
    "
  ></div>
  <div class="escuchanos-info d-flex justify-content-center flex-column">
    <h2 class="title-escuchanos">
      Descarga nuestra app <br />
      y escuchanos las 24hs
    </h2>
    <div>
      <a
        href="https://play.google.com/store/apps/details?id=com.cordobeseando&hl=es_419&gl=US"
        target="_blank"
        rel="noopener noreferrer"
        ><img
          src="https://res.cloudinary.com/cordobeseando/image/upload/v1635971852/img-comprimidas/Disponible_Google_Play_xfae5d.webp"
          alt="get-in google play store"
          class="google-play"
      /></a>
      <a href="/radio" class="a-link box-shadow">Escuchanos Online</a>
    </div>
  </div>
</section>
