<!-- Section Escuchanos -->
<section
  class="escuchanos d-flex justify-content-center align-items-center flex-wrap"
  id="escuchanos"
>
  <div
    class="
      card-radio
      d-flex
      justify-content-center
      align-items-center
      box-shadow
    "
  >
    <i class="fas fa-broadcast-tower"></i>
  </div>
  <div class="escuchanos-info d-flex justify-content-center flex-column">
    <h2 class="title">Cordobeseando 24hs en vivo</h2>
    <a href="#"
      ><img
        src="http://4.bp.blogspot.com/-ir2nRNHtyGw/Vl8cz8jUwtI/AAAAAAAAAIg/X-XzZFg4zOU/s1600/Disponible_Google_Play.png"
        alt="get-in google play store"
        class="google-play"
    /></a>
  </div>
</section>
