<button class="btn open" id="open"><i class="fas fa-question"></i></button>

<div class="modal_container box-shadow" id="modal_container">
  <div class="modal_">
    <h1>Beneficios Exclusivos 🥳</h1>
    <hr>
    <p>Suscribite al club de descuentos y accedé a descuentos exclusivos!</p>
    <a href="https://checkout.rebill.to/clubdescuentos/plan/2377" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Asociarme</a>
    <hr>
    <a href="/preguntas-frecuentes" class="faq-link">Preguntas Frecuentes <i class="fas fa-external-link-alt"></i></a>
  </div>
</div>

<script>
  const open = document.getElementById("open");
  const modal_container = document.getElementById("modal_container");
  const close = document.getElementById("close");

  open.addEventListener("click",()=>{
    modal_container.classList.toggle('show')
  })

  close.addEventListener("click",()=>{
    modal_container.classList.remove('show')
  })
</script>