<!-- Section Quienes Somos -->
<section class="quienes-somos-container p-5 mb-5" id="quienes-somos">
  <div
    class="
      quienes-somos
      d-flex
      justify-content-center
      align-items-center
      w-75
      mx-auto
      mt-5
    "
  >
    <div class="quienes-texto">
      <h2 class="title text-start mb-5">Quienes Somos</h2>
      <p class="mb-5 quienes-p">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste quia,
        dicta numquam veniam molestiae velit distinctio. Nisi quas dicta
        consectetur.
      </p>
      <!-- <button class="btn btn-primary">Escuchanos</button> -->
      <a href="#escuchanos" class="btn btn-primary">Escuchanos</a>
    </div>
    <div class="quienes-img-container">
      <div class="quienes-img box-shadow"></div>
    </div>
  </div>
</section>
