<!-- Slider -->
<div class="container-fluid slider slider_full">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- Slider 1 -->
        <a href="/comercios" class="img_full"
          ><img
            src="https://res.cloudinary.com/cordobeseando/image/upload/v1635971854/img-comprimidas/slider-1_kazlum_t753ie.webp"
            class="w-100"
            alt="..."
          />
        </a>
        <!-- Slider 1 / mobile -->
        <a href="/comercios" class="img_mobile"
          ><img
            src="https://res.cloudinary.com/cordobeseando/image/upload/v1635971854/img-comprimidas/slider-1-cel_rdkloc_ztiawe.webp"
            class="w-100"
            alt="..."
          />
        </a>
      </div>
      <div class="carousel-item">
        <!-- Slider 2 -->
        <a href="/comercios"
          ><img
            src="https://res.cloudinary.com/cordobeseando/image/upload/v1635971854/img-comprimidas/slider-sorteo-_1_guknlb_kqrvya.webp"
            class="w-100 img_full"
            alt="..."
        /></a>
        <!-- Slider 2 / mobile -->
        <a href="/suscripciones">
          <img
            src="https://res.cloudinary.com/cordobeseando/image/upload/v1633730873/slider-sorteo-cel_adlbwz.jpg"
            class="w-100 img_mobile"
            alt="..."
        /></a>
      </div>
      <div class="carousel-item">
        <a href="/suscripciones">
          <!-- Slider 3 -->
          <img
            src="https://res.cloudinary.com/cordobeseando/image/upload/v1635971854/img-comprimidas/slider-3_lenyoy_kmlaib.webp"
            class="w-100 img_full"
            alt="..."
          />
        </a>
        <!-- Slider 3 / mobile -->
        <a href="/suscripciones"
          ><img
            src="https://res.cloudinary.com/cordobeseando/image/upload/v1635971855/img-comprimidas/slider-3-cel_xjbsdm_eumco5.webp"
            class="w-100 img_mobile"
            alt="..."
        /></a>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
