<%- include("../template/cabecera", { tituloWeb: "Zarate"}) %>

<div class="descuentos-container">
  <div
    class="cards-descuentos mx-auto mb-5 d-flex flex-wrap"
    id="cardsDescuentos"
  >
    <a
      href="/categorias/zarate/animales"
      class="card-item box-shadow animales"
    ></a>
    <a href="/categorias/zarate/arte" class="card-item box-shadow arte"></a>
    <a href="/categorias/zarate/bebes" class="card-item box-shadow bebes"></a>
    <!--  -->
    <a
      href="/categorias/zarate/belleza"
      class="card-item box-shadow belleza"
    ></a>
    <!-- <a
      href="/categorias/zarate/caza-pesca"
      class="card-item box-shadow caza"
    ></a> -->
    <a href="/categorias/zarate/comida" class="card-item box-shadow comida"></a>
    <a
      href="/categorias/zarate/deporte"
      class="card-item box-shadow deporte"
    ></a>
    <!--  -->
    <a
      href="/categorias/zarate/electronica"
      class="card-item box-shadow electronica"
    ></a>
    <a
      href="/categorias/zarate/ferreteria-cerrajeria"
      class="card-item box-shadow ferreteria"
    ></a>
    <a href="/categorias/zarate/hogar" class="card-item box-shadow hogar"></a>
    <!--  -->
    <a
      href="/categorias/zarate/indumentaria"
      class="card-item box-shadow indumentaria"
    ></a>
    <!-- <a
      href="/categorias/inmobiliaria"
      class="card-item box-shadow inmobiliaria"
    ></a> -->
    <!-- <a
      href="/categorias/joyas-accesorios"
      class="card-item box-shadow joyas"
    ></a> -->
    <!-- <a
      href="/categorias/zarate/kiosco-golosinas"
      class="card-item box-shadow kiosco"
    ></a> -->
    <!--  -->
    <a
      href="/categorias/zarate/librerias"
      class="card-item box-shadow libreria"
    ></a>
    <!-- <a
      href="/categorias/zarate/naturaleza"
      class="card-item box-shadow naturaleza"
    ></a> -->
    <a
      href="/categorias/zarate/oficios"
      class="card-item box-shadow oficios"
    ></a>
    <a
      href="/categorias/zarate/postres"
      class="card-item box-shadow postres"
    ></a>
    <!-- <a
      href="/categorias/profesiones"
      class="card-item box-shadow profesiones"
    ></a> -->
    <!--  -->
    <a
      href="/categorias/zarate/rodados"
      class="card-item box-shadow rodados"
    ></a>
    <a href="/categorias/zarate/salud" class="card-item box-shadow salud"></a>
    <!-- <a href="/categorias/seguros" class="card-item box-shadow seguros"></a> -->
    <!--  -->
    <a
      href="/categorias/zarate/souvenir-cotillon"
      class="card-item box-shadow souvenir"
    ></a>
    <a
      href="/categorias/zarate/supermercado"
      class="card-item box-shadow supermercado"
    ></a>
    <a
      href="/categorias/zarate/tatuajes"
      class="card-item box-shadow tatuajes"
    ></a>
    <a
      href="/categorias/zarate/traslados"
      class="card-item box-shadow traslados"
    ></a>
    <!--  -->
    <!-- <a
      href="/categorias/videojuegos"
      class="card-item box-shadow videojuegos"
    ></a> -->
    <!-- Mostrar todos los clientes -->
    <!-- <% arrayClientes.forEach(cliente=> { %>
    <a
      href="/descuento/<%= cliente.id %>"
      class="card-item box-shadow <%= cliente.rubro %>"
    ></a>
    <% }) %>  -->
  </div>
</div>
<%- include ('../template/footer-categorias') %>
