<div class="footer">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 item text">
            <h3>Cordobeseando</h3>
            <p class="footer-p">
              Somos un grupo de locos tratando de cumplir un sueño. Ayudar a los demás haciendo lo que nos gusta y encontrar la libertad abrazando lo que somos cada uno. 
            </p>
            <ul class="d-flex rrss">
              <li>
                <a href="https://www.facebook.com/Cordobeseando"><i class="fab fa-facebook"></i></a>
              </li>
              <li>
                <a href="https://www.instagram.com/cordobeseando_ok/" target=_blank><i class="fab fa-instagram"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3 item-footer">
            <h3>Mapa de sitio</h3>
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#quienes-somos">Quienes Somos</a></li>
              <li><a href="#escuchanos">Escuchanos</a></li>
              <li><a href="#contacto">Contacto</a></li>
              <li><a href="/preguntas-frecuentes">Preguntas frecuentes</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3 item-footer">
            <h3>Publicitá con nosotros</h3>
            <ul>
              <li><a href="#">Asociate a Cordobeseando</a></li>
              <li><a href="#">Cordobeseando en tu radio</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <p class="text-center mx-auto hecho">Hecho con ♥ por Cordobeseando - Todos los derechos reservados © 2021 </p>
    <!-- Custom JS -->
  <script src="/js/script.js"></script>
  <!-- Bootstrap JS -->
  
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</body>
</html>