
<h1 class="title mt-5">Buscá tu descuento</h1>
<!-- Input Search -->
<div class="px-5 mt-5 w-50 mx-auto">
  <div class="search">
    <input
      type="text"
      class="search-input box-shadow"
      placeholder="Buscar..."
      name=""
    />
  </div>
</div>

<div class="tags-container mt-5 d-flex justify-content-center">
  <span class="p-2 tag-item active">Zárate</span>
  <span class="p-2 tag-item">Campana (proximamente)</span>
</div>
<div class="descuentos-container">
  <div class="cards-descuentos mx-auto px-5 mb-5 d-flex flex-wrap">