 
  <h1 class="title align-center mt-5">Buscá tu descuento</h1>

<div class="tags-container mt-5 d-flex justify-content-center">
  <a href="/beneficios" class="btn btn-dark btn-volver text-center"
  ><i class="fas fa-angle-left me-2"></i>Volver</a
  >
  <span class="p-2 tag-item active">Zárate</span>
  <span class="p-2 tag-item">Campana (proximamente)</span>
</div>
<div class="descuentos-container">
  <div class="cards-descuentos mx-auto px-5 mb-5 d-flex flex-wrap">
