<header>
  <nav class="nav-container">
    <!-- Logo -->
    <a href="/">
      <img
        src="./img/logoconastronauta.png"
        alt="Cordobeseando - Logo"
        class="logo"
    /></a>
    <!-- Btn Responsive -->
    <button class="hamburger" id="hamburger">
      <i class="fa fa-bars"></i>
    </button>

    <ul class="nav-ul" id="nav-ul">
      <li><a href="/">Inicio</a></li>
      <li><a href="/#quienes-somos">Quienes Somos</a></li>
      <li><a href="/#escuchanos">Escuchanos</a></li>
      <li><a href="/#contacto">Contacto</a></li>
      <a href="#" class="btn btn-primary">Asociate al Club</a>
    </ul>
  </nav>
</header>
