<header>
  <nav class="nav-container">
    <!-- Logo -->
    <a href="/">
      <img
        src="https://res.cloudinary.com/cordobeseando/image/upload/v1635971854/img-comprimidas/Sin_t%C3%ADtulo-1_li04mv_fkgfif.webp"
        alt="Cordobeseando - Logo"
        class="logo"
    /></a>
    <!-- Btn Responsive -->
    <button class="hamburger" id="hamburger">
      <i class="fa fa-bars"></i>
    </button>

    <ul class="nav-ul" id="nav-ul">
      <li><a href="/">Inicio</a></li>
      <li><a href="/beneficios">Categorias</a></li>
      <li><a href="/#quienes-somos">Quienes Somos</a></li>
      <li><a href="/radio">Escuchanos</a></li>
      <li><a href="/#contacto">Contacto</a></li>
      <a href="/suscripciones" class="btn btn-primary">Pedi tu carnet</a>
    </ul>
  </nav>
</header>
